.container {
  --blue: #1da1f2;
  width: 220px;
  color: #314d3e;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #657786;
}
h1 {
  text-align: center;
  color: #14171a;
  font-size: 20px;
}

h1::before {
  content: "";
  background-image: url(./assets/icon-blue.png);
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.element {
  /* display: block; */
  display: flex;
  align-items: end;
}
.element svg {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.text {
  font-weight: bold;
  text-align: center;
}

.settings {
  background-color: white;
  border-radius: 10px;
  padding: 30px 10px;
}

.underline {
  border-bottom: 1px solid rgb(224, 224, 224);
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
